<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>
<style>
  .student_info {
    font-weight: bold;

  }

</style>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/students}">Student Management System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" th:href="@{/students}">Home</a>
      </div>
    </div>
  </div>
</nav>
<h2>Student Information</h2><br>
<div class="student_info">
  <p>Student Name: <span th:text="${studentInfo.studentName}"></span></p>
  <p>Roll Number: <span th:text="${studentInfo.rollNumber}"></span></p>
  <p>Email Id: <span th:text="${studentInfo.emailId}"></span></p>
  <a th:href="@{/students/marks/new/{rollNumber} (rollNumber = ${studentInfo.rollNumber})}" class="btn btn-primary" style="height: 5%;">Add Marks</a><br>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th>Subject Name</th>
    <th>Maximum Marks</th>
    <th>Minimum Marks</th>
    <th>Marks</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each= "student, stat: ${studentInfo.marks}">
    <td th:text="${stat.index + 1}"></td>
    <td th:text="${student.subjectName}"></td>
    <td>100</td>
    <td>35</td>
    <td th:text="${student.marks}"></td>
  </tr>
  <tr th:if="${studentInfo.getMarks().size() != 0}">
    <th colspan="4">Total Marks:</th>
    <th th:text="${studentInfo.totalMarks}"></th>
  </tr>
  <tr th:if="${studentInfo.getMarks().size() != 0}">
    <th colspan="4">Percentage:</th>
    <th th:text="${studentInfo.percentage + '%'}"></th>
  </tr>
  </tbody>
</table>
</body>
</html>